.tab-switch {
    display: flex;
    flex-wrap: wrap;
    /* margin-inline: auto;
    gap: 0 5px; */
}

/* ラジオボタン非表示 */
.tab-switch input {
    display: none;
}

/* タブボタン */
.tab-switch label {
    width: 15%;
    padding: 0.7em 1em;
    cursor: pointer;
    order: -1;
    text-align: center;
}

/* コンテンツ非表示 */
.tab-content {
    display: none;
    width: 100%;
    padding: 1.5em 0;
    border-top: 2px solid #b4b4b4;
}

/* 選択されたタブ＋コンテンツを表示 */
.tab-switch input:checked+label {
    color: #000;
    font-weight: bold;
}

.tab-switch input:checked+label+.tab-content {
    display: block;
    flex-basis: 100%;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.stampCorrectionRequest__table {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 80px;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 5px;
}

.stampCorrectionRequest__table-list {
    border-bottom: 1.5px solid #ddd;
}

th,
td {
    padding: 10px 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tab-boder{
        font-size: 15px;
    }

    .tab-content {
        font-size: 14px;
    }
}