.content {
    width: 60%;
    margin: 0 auto;
}

.staff__table {
    margin-top: 30px;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 80px;
    table-layout: fixed;
    border-collapse: collapse;
}

.staff__table-list {
    width: 100%;
    padding: 5px;
    border-bottom: 1.5px solid #ddd;
}

th,
td {
    padding: 10px 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .content {
        width: 80%;
        margin: 0 auto;
    }
}